<label>
  Name:
  <input type="text" [formControl]="name" required minlength="7" maxlength="10"   >

  <div *ngIf="name.invalid && (name.dirty || name.touched)"
    class="alert alert-danger">
  
  <div *ngIf="name.errors.required">
    Number is required.
  </div>
  <div *ngIf="name.errors.minlength">
    Name must be at least 7 characters long.
  </div>
  
</div>
</label>
<p>
  <button (click)="getPhoneNumberCombination()">Generate Phone</button>
</p>
<div *ngIf=isServiceCalled>
<div class="mat-elevation-z8">
  <mat-table [dataSource]="dataSource" matSort>
  
          <!-- Progress Column -->
          <ng-container matColumnDef="Phone_Numbers">
           <mat-header-cell class="my-mat-header-cell" *matHeaderCellDef mat-sort-header> Phone Numbers </mat-header-cell>
           <mat-cell class="my-mat-cell"  *matCellDef="let row"> {{row}} </mat-cell>
         </ng-container>
     
         <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
         <mat-row *matRowDef="let row; columns: displayedColumns;">
         </mat-row>
       </mat-table>
     
       <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
     </div>
</div>
